<!DOCTYPE HTML>
<html>
	<head>
		<title>Spotify Integration</title>
		<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,100italic,300italic,400italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="../stylesheets/style.css">
		<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src = "../javascripts/fb-getFriends.js"></script>
	</head>

	<body id = "music">
		<header class = "dark-box border-box font-white vertical-wrapper">
			<span class = "vertical-align">
				<ul class = "no-list inline center">
					<li>Rate These Songs</li>
				</ul>
			</span>
		</header>

		<div id = "container" class = "login-box border-box center">
			<div id = "song-selector">
			</div>
			<div class = "display-table" id = "song-box">
				<div class = "display-table-cell full-width-height">
				</div>
			</div>
		</div>
	</body>
</html>