<!DOCTYPE HTML>
<html>
	<head>
		<title>Rate These Songs</title>
		<link href='//fonts.googleapis.com/css?family=Lato:100,300,400,100italic,300italic,400italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="../stylesheets/style.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src = "../javascripts/functions.js"></script>
		<script src = "../javascripts/fb-getFriends.js"></script>
		<script>
			$(document).ready(function() {
				var accessToken = hasCookie('fb_access');
				if (accessToken === null) {
					window.location.href = '/login/'+<%- JSON.stringify(name) %>
				}

				var questionnaireName = <%- JSON.stringify(title) %>
				var questions = <%- JSON.stringify(questions) %>
				$("header li").text("Consent Form");
				$("#container").css("display", "none");

				getSongs(questions, function(response) {
					d3.select("#question-selector").selectAll("div")
						.data(questions)
						.enter()
						.append("div")
						.attr("class", "question-selector-circle clickable")
						.attr("id", function(d, i) { return "question-" + i; });

					$(".question-selector-circle").first().addClass("selected");

					// create array for user answers
					var emptyArr = []
					for (var i in questions) {
						emptyArr.push("");
					}
					$("#user-questions").val(emptyArr);
				});

			});
		</script>
	</head>

	<body id = "music">
		<header class = "dark-box border-box font-white vertical-wrapper">
			<span class = "vertical-align">
				<ul class = "no-list inline center">
					<li>Rate These Songs</li>
				</ul>
			</span>
		</header>

		<div id = "container" class = "login-box border-box center">
			<div id = "question-selector">
			</div>
			<div class = "display-table" id = "question-box">
				<div class = "display-table-cell full-width-height">
				</div>
			</div>
		</div>

		<div id = "consent-form" class = "border-box">
			<p>The purpose of this study is to learn about people’s opinions and taste. This Facebook app will collect your basic information (age, gender, education, occupation and your friends list). In the study, you will be asked to complete a short survey and rate music songs.  Your participation in this study will take about 15 minutes. </p>

			<p>Your participation in this study is purely voluntary, and you may withdraw your participation or your data at any time without any constraints. </p>

			<p>Your data will be kept completely confidential and anonymous by the researchers and no individual identification will be attempted. </p>

			<p>If you have any questions, you can contact: <a href = 'mailto:jr872@cornell.edu'>jr872@cornell.edu</a></p>
			<p><i>I have read the description of this study, my questions have been answered, and I give my consent to participate.</i></p>
			<input type = 'button' id = 'submit-consent' value = 'I Agree' class = 'custom-button clickable'/>
		</div>

		<div id = "user"></div>
		<div id = "user-questions"></div>
	</body>
</html>