<!DOCTYPE HTML>
<html>
	<head>
		<title><%= title %></title>
		<link href='//fonts.googleapis.com/css?family=Lato:100,300,400,100italic,300italic,400italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="../../../stylesheets/style.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src = "../../../javascripts/functions.js"></script>
		<script src = "../../../javascripts/questions.js"></script>
		<script src = "../../../javascripts/inviteFriends.js"></script>

		<script>
			// Checks for cookie with FB access, meaning user is logged in
			var accessToken = hasCookie('fb_access');
			var url = window.location.href.split("/home/")[1];

			// If no access token, then redirect to login page
			if (accessToken === null) {
				window.location.href = '/login/'+url;
			}

			// Otherwise get questions for policy 
			$(document).ready(function() {
				var questionnaireName = <%- JSON.stringify(title) %>
				var questions = <%- JSON.stringify(questions) %>
				var hasIdentity =  <%- JSON.stringify(hasIdentity) %>
				$("header li.hidden").text(capitalizeSentence(questionnaireName));

				// If no questions, issue with accessing database so redirect to login
				if (questions === null)
					window.location.href = '/login/'+url;
				else {
					// Otherwise create treatments / setup questions
					createTreatments(accessToken, questions, function() {
						$("#submit-instructions").attr('disabled', false);
					}, hasIdentity);
					getUserLikes(accessToken);
				}

			});

		</script>
	</head>

	<body id = "music">

		<!--<div id = "invite-modal-wrapper" class = "border-box display-table">
			<div class = "border-box display-table-cell full-width-height">
				<div id = "invite-modal" class = "center">
					Invite your friends to use the application!<br/>
					<input type = "search" results = "5" id = "invite-search">
					<div id = "invite-friends-section">
						<ul id = "invite-friends-list" class = "list-style-none display-inline left">
						</ul>
					</div>
				</div>
			</div>
		</div>-->

		<header class = "dark-box border-box font-white vertical-wrapper">
			<span class = "vertical-align">
				<img id = "cornell-logo" src = "../../../images/cornell.png" />
				<ul class = "no-list inline center">
					<li>Instructions</li>
					<li class = 'hidden'></li>
				</ul>
			</span>
		</header>

		<div id = "container" class = "login-box border-box center">
			<div id = "question-selector">
			</div>
			<div class = "display-table" id = "question-box">
				<div class = "display-table-cell full-width-height">
					<div class = 'small-box left'>
						<p>On the following pages you will be asked your opinion about various topics. Your answers will be recorded using sliders, where values in the middle represent partial agreement with the views described in the sliders. Please place the slider in the position that best represent you level of agreement or disagreement. Note that you will need to move the slider before being able to proceed to the next question. PLEASE DO NOT USE YOUR BROWSER’S BACK BUTTON. </p>
						<input type = 'button' id = 'submit-instructions' value = 'Got It!' class = 'custom-button clickable' disabled/>
					</div>
				</div>
			</div>
		</div>

		<div id = "user"></div>
		<div id = "user-questions"></div>
	</body>
</html>