<!DOCTYPE HTML>
<html>
	<head>
		<title><%= title %></title>
		<link href='//fonts.googleapis.com/css?family=Lato:100,300,400,100italic,300italic,400italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="../stylesheets/style.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src = "../javascripts/functions.js"></script>
		<script src = "../javascripts/questions.js"></script>
		<script src = "../javascripts/inviteFriends.js"></script>
		<script>
			var accessToken = hasCookie('fb_access');
			if (accessToken === null) {
				window.location.href = '/login/'+<%- JSON.stringify(name) %>
			}

			$(document).ready(function() {
				var questionnaireName = <%- JSON.stringify(title) %>
				var questions = <%- JSON.stringify(questions) %>
				$("header li").text("Consent Form");
				$("#container").css("display", "none");

				if (questions === null)
					window.location.href = '/login/'+<%- JSON.stringify(name) %>
				else {
					shuffle(questions);

					$.ajax({
						url: 'https://graph.facebook.com/me/friends',
						data: {access_token: accessToken},
						dataType: 'jsonp',
						success: function(friends) {
							var local_treatments = [];
							// see how many friends are also using the app
							// which means they have answers
							// if more than 5, we want to use local treatments
							if (true) {//if (app_friends.data.length > 5) {
								var app_friends = [];
								for (var i in friends.data)
									app_friends.push(friends.data[i].id);

								app_friends.push('1368751615');
								app_friends.push('10205628652891829');
								app_friends.push('10153306689188552');
								app_friends.push('10152909706628845');

								// set up question treatments
								var treatments = ['treatment_g', 'treatment_s', 'control', 'treatment_l'];
								shuffle(treatments);
								treatments.push('treatment_i');
								var every_treatment = ['treatment_g', 'treatment_g2', 'treatment_s', 'control', 'treatment_l', 'treatment_i'];

							} else { // otherwise just use regular treatments
								var treatments = ['treatment_g', 'treatment_s', 'control'];
								shuffle(treatments);
								treatments.push('treatment_i');
								var every_treatment = ['treatment_g', 'treatment_g2', 'treatment_s', 'control', 'treatment_i'];
							}

							var numEach = Math.floor(questions.length / treatments.length);
							var numLeftover = questions.length - (numEach * treatments.length);
							var extraTreatments = [];
							var all_treatments = [];
							var treatments2 = []

							for (var t in treatments)
								treatments2.push(treatments[t])

							for (var j = 0; j < numLeftover; j++) {
								var rand = Math.floor(Math.random() * treatments2.length);
								extraTreatments.push(treatments2[rand]);
								treatments2.splice(rand, 1);
							}

							for (var t in treatments) {
								for (var i = 0; i < numEach; i++)
									all_treatments.push(treatments[t]);
								if (extraTreatments.indexOf(treatments[t]) > -1) 
									all_treatments.push(treatments[t]);
							}

							console.log(all_treatments);


							for (var q in questions) {
								var question = questions[q];
								var treatment = all_treatments[q];
								question.treatment_type = treatment;
								
								if (treatment == 'treatment_l') {
									local_treatments.push(q);
								} else {
									if (treatment == 'treatment_g') {
										var rand_g = Math.floor(Math.random() * 2)
										if (rand_g == 0)
											question.treatment_type = 'treatment_g';
										else
											question.treatment_type = 'treatment_g2';
									}

									question.treatment = question[question.treatment_type];
								}

								for (var i in every_treatment) {
									if (every_treatment[i] in question) {
										delete question[every_treatment[i]];
									}
								}
								
							}

							console.log(local_treatments);

							$.ajax({
								url: '/api/getFriendData',
								contentType: 'application/json',
								data: JSON.stringify({friendIDs: app_friends, question_id: ['5535b299675db983c13fbed6', '5535b299675db983c13fbeda']}),//question._id}),
								dataType: 'JSON',
								method: 'POST',
								success: function(data) {
									var count = 0;
									for (var k in data) {
										var str = "According to your Facebook friends who also took the survey";

										for (var p in data[k]) {
											str += ', ' + data[k][p] + '% answered "' + p + '"';
										}

										str += ".";

										questions[local_treatments[count]].treatment = str;
										count++;
									}
								}
							});

							console.log(questions);

							d3.select("#question-selector").selectAll("div")
								.data(questions)
								.enter()
								.append("div")
								.attr("class", "question-selector-circle clickable hidden")
								.attr("id", function(d, i) { return "question-" + i; });

							$(".question-selector-circle").first().addClass("selected");

							// create array for user answers
							var emptyArr = []
							for (var i in questions) {
								emptyArr.push("|");
							}
							$("#user-questions").val(emptyArr);

						}

					});

					
				}

			});

		</script>
	</head>

	<body id = "music">

		<!--<div id = "invite-modal-wrapper" class = "border-box display-table">
			<div class = "border-box display-table-cell full-width-height">
				<div id = "invite-modal" class = "center">
					Invite your friends to use the application!<br/>
					<input type = "search" results = "5" id = "invite-search">
					<div id = "invite-friends-section">
						<ul id = "invite-friends-list" class = "list-style-none display-inline left">
						</ul>
					</div>
				</div>
			</div>
		</div>-->

		<header class = "dark-box border-box font-white vertical-wrapper">
			<span class = "vertical-align">
				<ul class = "no-list inline center">
					<li></li>
				</ul>
			</span>
		</header>

		<div id = "container" class = "login-box border-box center">
			<div id = "question-selector">
			</div>
			<div class = "display-table" id = "question-box">
				<div class = "display-table-cell full-width-height">
				</div>
			</div>
		</div>

		<div id = "consent-form" class = "border-box">
			<p>The purpose of this study is to learn about people’s opinions and taste. This Facebook app will collect your basic information (age, gender, education, occupation and your friends list). In the study, you will be asked to complete a short survey and rate music songs.  Your participation in this study will take about 15 minutes. </p>

			<p>Your participation in this study is purely voluntary, and you may withdraw your participation or your data at any time without any constraints. </p>

			<p>Your data will be kept completely confidential and anonymous by the researchers and no individual identification will be attempted. </p>

			<p>If you have any questions, you can contact: <a href = 'mailto:jr872@cornell.edu'>jr872@cornell.edu</a></p>
			<p><i>I have read the description of this study, my questions have been answered, and I give my consent to participate.</i></p>
			<input type = 'button' id = 'submit-consent' value = 'I Agree' class = 'custom-button clickable'/>
		</div>

		<div id = "user"></div>
		<div id = "user-questions"></div>
	</body>
</html>