html, body {
	margin: 0px;
	padding: 0px;
	font-family: 'Lato', sans-serif;
	width: 100%;
	height: 100%;
	font-weight: 300;
}

#fb_login_button { 
    width: 80px; 
}

#fb_login_button span, 
#fb_login_button iframe {
    width: 80px !important;
    height: 25px !important;
}

body#music {
	background: url('../images/music-bg.jpg');
	background-size: cover;
}

body#admin {
	background: url('../images/music-bg.jpg');
	background-size: cover;
}

input, textarea, select {
	font-family: 'Lato', sans-serif;
	color: #000;
	font-weight: 300;
}

p {
	line-height: 25px;
}

ol {
	padding-left: 25px;
}

li {
	margin: 5px 0px;
}

.hidden {
	display: none;
}

.clickable {
	cursor: pointer;
}

.bold {
	font-weight: 600;
}

.italics {
	font-style: italic;
}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.no-list {
	list-style: none;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.inline {
	display: inline;
}

.text-top {
	vertical-align: text-top;
}

.inline-block {
	display: inline-block;
}

.font-white {
	color: #FFF;
}

.font-black {
	color: #000;
}

.font-orange {
	color: #FF9400;
}

.font-blue {
	color: #3695ff;
}

.font-red {
	color: #E80000;
}

.font-green {
	color: #0A8406;
}

.font-grey {
	color: #4C4C4C;
}

.font-15 {
	font-size: 15px;
}

.font-16 {
	font-size: 16px;
}

.font-18 {
	font-size: 18px;
}

.font-20 {
	font-size: 20px;
}

.vertical-wrapper {
	display: table;
}

.vertical-align {
	display: table-cell;
	vertical-align: middle;
}

.display-table {
	display: table;
	width: 100%;
	height: 100%;
}

.display-table-cell {
	display: table-cell;
	vertical-align: middle;
}

.full-width-height {
	width: 100%;
	height: 100%;
}

.border-box {
	box-sizing: border-box;
}

.horizontal-line {
	width: 50%;
	height:0px;
	border-bottom: 1px dotted black;
	margin: 13px auto;
}

header {
	height: 50px;
	width: 100%;
	font-size: 28px;
	background-color: #000;
	font-weight: 200;
}

header > span {
	width: 100%;
}

header ul {
	padding: 0px;
	margin: 0px;
}

.login-header {
	font-size: 20px;
	margin-bottom: 20px;
}

input[type=text], input[type=search], input[type=password], textarea, select {
	-webkit-appearance: none;
	background-color: rgba(250,250,250,.6);
	font-size: 18px;
	padding: 5px 10px;
	border: 1px solid #B2B2B2;
	border-radius: 15px;
	margin: 10px;
	width: 200px;
}

input[type=search] {
	padding: 5px 0px;
}

input[type='range'] {
	margin-top: 10px;
	width: 550px;
	-webkit-appearance: none;
	border-radius: 5px;
	box-shadow: inset 0 0 5px rgba(150,150,150,.5);
	background-color: rgba(50,50,50,.4);
	height: 7px;
	vertical-align: middle;
	cursor: pointer;
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none !important;
	border-radius: 20px;
	background-color: rgba(256,256,256,.95);
	box-shadow:inset 0 0 3px rgba(150,150,150,0.3);
	border: 1px solid #999;
	height: 15px;
	width: 15px;
}

#question-text input[type='checkbox'],#question-text input[type=radio] {
	margin-left: 20px;
}

select {
	margin: 0px;
	cursor: pointer;
}

textarea, select {
	-webkit-appearance: none;
	border-radius: 5px;
}

.login-box input:focus, textarea:focus, select:focus, input[type=search]:focus {
	border: 1px solid rgb(100,100,100);
	outline: none;
}

input[type=button] {
	background-color: rgba(75,75,75,.9);
	border: 0px;
	font-size: 18px;
	border-radius: 5px;
	color: #FFF;
	margin: 10px;
	padding: 5px 10px;
}

.login-box input[type=button]:active {
	border: 1px inset #4A4A4A;
}

.input {
	display: block !important;
	margin: 15px;
}

#container {
	position: absolute;
	top: 50px;
	bottom: 25px;
	left: 25px;
	right: 25px;
	overflow: auto;
}

.full-box {
	position: absolute;
	border-radius: 10px;
}

#friend-list {
	text-align: left;
	margin-left: 10px;
	margin-top: 25px;
}

#friend-list li {
	margin-top: 10px;
}

.artist {
	cursor: pointer;
}

#preview-iframe {
	height: 250px;
	width: auto;
	border: 1px;
}

#preview-album img {
	height: 250px;
}

#like:hover, #dislike:hover {
	color: #2A57C2;
}

#question-text {
	margin: 10px;
	font-size: 17px;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

.preview-star {
	stroke: #AD8D26; 
	fill: none;
}

#question-box {
	height: 90% !important;
}

#question-selector {
	height: 25px;
	text-align: center;
	display: inline-block;
}

.question-selector-circle {
	height: 9px;
	width: 9px;
	border-radius: 20px;
	border: 1px solid #13619E;
	background-color: rgba(232,229,137,.5);
	margin: 10px 5px;
	/*display: inline-block;*/
	cursor: pointer;
}

.question-selector-circle:hover, .question-selector-circle.selected {
	background-color: #13619E;
	/*#1B8FE8*/
}

#question-list, #importance-list, .importance-list {
	padding: 0px;
	width: 560px;
	margin: 5px auto;
}

#question-list li {
	/*padding: 5px;*/
}

#question-list-larger {
	padding: 0px;
	display: inline-block;
	margin: 5px auto;
}

#question-list-larger li input, #question-list-larger li span:not(.question-text-text) {
	margin-left: 0px !important;
}

#importance-list, .importance-list {
	width: 560px;
}

.question-text-text {
	line-height: 20px;
	margin-left: 10px;
}

#question-treatment {
	/*margin-bottom: 20px;*/
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}

#user-comments {
	width: 400px;
	height: 100px;
}

/***************** ADMIN CSS ******************/
#login-error {
	color: #E82C0C;
}

#questionnaires {
	/*background: rgba(256,256,256,.3);*/
	text-align: right;
	width: 40%;
	border-right: 1px dotted rgb(100, 100, 100);
}

#questions {
	text-align: left;
	width: 60%;
}

.questionnaire-title {
	border-bottom: 1px dotted black;
	padding: 5px;
	display: inline-block;
}

#questionnaires-wrapper > div {
	overflow: auto;
	height: 75%;
	padding: 10px 20px;
	float: left;
}

#questionnaires-wrapper ol, #questionnaires-wrapper ul {
	margin-top: 10px;
}

.custom-button {
	display: inline-block;
	padding: 0px 9px 2px 9px;
	color: #FFF;
	background-color: rgba(250, 250, 250, .25);
	border-radius: 7px;
}

#add-questionnaire {
	position: absolute;
	left: 10px;
	font-size: 25px;
	top: 10px;
}

#download-answers {
	position: absolute;
	left: 60px;
	top: 10px;
	width: 35px;
	padding: 5px 7px;
}

/*#submit-questionnaire {
	position: absolute;
	right: 10px;
	font-size: 20px;
	top: 13px;
} */

.custom-button:hover {
	background-color: rgba(50, 50, 50, .9);
}

#questions-form {
	overflow: auto;
	height: 55%;
}

#questionnaire-form textarea {
	width: 400px;
	height: 17px;
	resize: none;
	margin: 0px 0px 0px 10px;
	font-size: 14px;
	float: left;
}

#questionnaire-form textarea.choices {
	width: 200px;
}

#questionnaire-form input[type=text] {
	text-align: center;
	margin-bottom: 10px;
	float: left;
}

#questionnaire-form input[type=button] {
	font-size: 16px;
	margin: 5px;
}

#questionnaire-form select {
	width: 100px;
	height: 29px;
	float:left;
	margin: 0px 0px 0px 10px;
	font-size: 14px;
}

#questionnaire-form .question {
	display: inline-block;
	margin-bottom: 10px;
}

#questionnaire-form label {
	font-size: 17px;
	float:left;
	line-height:28px;
	width: 35px;
	text-align: right;
}

#questionnaire-form .button {
	height: 28px;
	float: left;
	margin: 12px 0px;
	opacity: .7;
}

#questions-form .button {
	margin: 2px 10px;
	height: 28px;
}

#questionnaire-form .button:hover {
	opacity: 1;
}

.question-header, .importance-header {
	margin-bottom: 10px;
}

.importance-header {
	margin-top: 30px;
}

#importance-section {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}


/***************** CONSENT FORM ******************/
#consent-form {
	background: rgba(256, 256, 256, .6);
	position:absolute;
	bottom: 0px;
	top: 50px;
	left: 15%;
	right: 15%;
	overflow: auto;
	box-shadow: 0px 2px 10px #888888;
	padding: 20px;
}

#submit-consent {
	position: absolute;
	right: 25px; 
}


#all-questions {
	width: 40%;
}

/***************** INVITE FRIENDS MODAL ******************/

#invite-modal-wrapper {
	position: fixed;
	z-index: 1000;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.7);
}

#invite-modal {
	width: 500px;
	height: 400px;
	background-color: rgba(230,230,230,.9);
	opacity: 1;
	box-shadow: rgba(0, 0, 0, .5);
	border-radius: 15px;
	z-index: 1001;
	padding: 10px;
}

#invite-friends-section {
	height: 285px;
	width: 100%;
	overflow: auto;
}

#invite-friends-list {
	padding: 0px;
	margin: 0px;
}

#invite-friends-list li {
	font-size: 14px;
	cursor: pointer;
	width: 33.333%;
	box-sizing: border-box;
}

#invite-friends-list img {
	width: 25px;
	padding: 0px 5px;
}

#invite-button {
	float: right;
}



