html, body {
	margin: 0px;
	padding: 0px;
	font-family: 'Lato', sans-serif;
	width: 100%;
	height: 100%;
	font-weight: 300;
	background: url('../images/music-bg.jpg');
	background-size: cover;
}

input {
	font-family: 'Lato', sans-serif;
	color: #000;
	font-weight: 300;
}

p {
	line-height: 25px;
}

.clickable {
	cursor: pointer;
}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.no-list {
	list-style: none;
}

.inline {
	display: inline;
}

.font-white {
	color: #FFF;
}

.font-black {
	color: #000;
}

.font-orange {
	color: #FF9400;
}

.font-blue {
	color: #3695ff;
}

.font-red {
	color: #E80000;
}

.font-green {
	color: #04D20A;
}

.font-grey {
	color: #4C4C4C;
}

.font-18 {
	font-size: 18px;
}

.vertical-wrapper {
	display: table;
}

.vertical-align {
	display: table-cell;
	vertical-align: middle;
}

.display-table {
	display: table;
	width: 100%;
	height: 100%;
}

.display-table-cell {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 100%;
}

.border-box {
	box-sizing: border-box;
}

header {
	height: 50px;
	width: 100%;
	font-size: 28px;
	background-color: #000;
	font-weight: 200;
}

header ul {
	padding: 0px;
	margin: 0px;
}

.login-header {
	font-size: 20px;
	margin-bottom: 20px;
}

.login-box input[type=text], .login-box input[type=password] {
	background-color: rgba(250,250,250,.75);
	font-size: 18px;
	padding: 5px 10px;
	border: 1px solid #B2B2B2;
	border-radius: 15px;
	margin: 10px;
	width: 200px;
}

.login-box input:focus {
	border: 1px solid rgb(100,100,100);
	outline: none;
}

.login-box input[type=button] {
	background-color: rgba(75,75,75,.75);
	border: 1px solid #4A4A4A;
	font-size: 16px;
	border-radius: 5px;
	color: #FFF;
	margin: 10px;
	padding: 5px 10px;
}

.login-box input[type=button]:active {
	border: 1px inset #4A4A4A;
}

.input {
	display: block !important;
	margin: 15px;
}

#container {
	position: absolute;
	top: 50px;
	bottom: 25px;
	left: 25px;
	right: 25px;
}

.full-box {
	position: absolute;
	border-radius: 10px;
}

#friend-list {
	text-align: left;
	margin-left: 10px;
	margin-top: 25px;
}

#friend-list li {
	margin-top: 10px;
}

.artist {
	cursor: pointer;
}

#preview-iframe {
	height: 0px;
	width: 0px;
	border: 0px;
}

#preview-album img {
	height: 250px;
}

#like:hover, #dislike:hover {
	color: #2A57C2;
}

#preview-text {
	margin: 10px;
	font-size: 18px;
}

.preview-star {
	stroke: #AD8D26; 
	fill: none;
}

#song-box {
	height: 90% !important;
}

#song-selector {
	height: 25px;
	text-align: center;
	display: inline-block;
}

.song-selector-circle {
	height: 9px;
	width: 9px;
	border-radius: 20px;
	border: 1px solid #13619E;
	background-color: rgba(232,229,137,.5);
	margin: 10px 5px;
	display: inline-block;
	cursor: pointer;
}

.song-selector-circle:hover, .song-selector-circle.selected {
	background-color: #13619E;
	/*#1B8FE8*/
}